:root {
    /* surfaces */
    --color-default: #68718c;
    --color-default-dark: #464e67;

    /* text */
    --color-white-text: #fffff3;
    --color-default-link: #1b2c64;
    --color-active-link: #eec856
}